Repository KyleKing/recipes: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit_test

copier-forbidden-files:
  name: copier_forbidden_files
  entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
  language: fail

lock_deps:
  name: lock_dependencies
  entry: poetry lock
  pass_filenames: false
  language: system
  stages:
  - commit

doit_test:
  name: doit_test
  entry: poetry run doit run test
  pass_filenames: false
  language: system
  stages:
  - push

docs: update margaritas
  docs/drinks/__TOC.md
  docs/drinks/margarita.md
  docs/drinks/spicy_watermelon_margarita.md
Due: none

docs: add a new chicken-yogurt recipe
  .pre-commit-config.yaml
  docs/CODE_TAG_SUMMARY.md
  docs/poultry/__TOC.md
  docs/poultry/roasted_chicken_thighs_with_cauliflower_and_herby_yogurt.jpg
  docs/poultry/roasted_chicken_thighs_with_cauliflower_and_herby_yogurt.md
Due: none

docs: add staged recipes
  docs/CODE_TAG_SUMMARY.md
  docs/dessert/__TOC.md
  docs/dessert/baltimore_berger_cookies.md
  docs/drinks/__TOC.md
  docs/drinks/margarita.md
  docs/drinks/mock-a-rita.md
  dodo.py
Due: doit_test

docs: try to move code tags to subdirectory
  docs/_dev/CODE_TAG_SUMMARY.md
  dodo.py
Due: doit_test

build: apply the calcipy template
  .copier-answers.yml
  .deepsource.toml
  .flake8
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labels.yml
  .github/workflows/labels.yml
  .gitignore
  .isort.cfg
  .pre-commit-config.yaml
  .pyup.yml
  README.md
  _adr/NNN-Template.md
  _adr/README.md
  docs/zdev/CODE_OF_CONDUCT.md
  docs/zdev/CODE_TAG_SUMMARY.md
  docs/zdev/CONTRIBUTING.md
  docs/zdev/DEVELOPER_GUIDE.md
  docs/zdev/NOTES.md
  docs/zdev/README.md
  docs/zdev/SECURITY.md
  docs/zdev/STYLE_GUIDE.md
  dodo.py
  mkdocs.yml
  mypy.ini
  noxfile.py
  pyproject.toml
  recipes/__init__.py
  recipes/formatter.py
  tests/configuration.py
Due: lock_deps, doit_test

fix: formatter logic
  recipes/formatter.py
Due: doit_test

docs: add black bean burger
  docs/veggie/__TOC.md
  docs/veggie/black_bean_burger.jpeg
  docs/veggie/black_bean_burger.md
Due: none

docs: add asparagus
  docs/veggie/__TOC.md
  docs/veggie/oven_roasted_asparagus.jpeg
  docs/veggie/oven_roasted_asparagus.md
Due: none

docs: add new dinner recipes
  docs/pasta/__TOC.md
  docs/pasta/gnocchi_skillet_with_chicken_sausage_and_tomatoes.md
  docs/pizza/__TOC.md
  docs/pizza/baguette_pesto_chicken_pizza.md
  docs/veggie/__TOC.md
  docs/veggie/oven_roasted_asparagus.md
Due: none

feat: add recipes using-up leftovers
  .pre-commit-config.yaml
  docs/dessert/__TOC.md
  docs/dessert/baltimore_berger_cookies.jpeg
  docs/dessert/baltimore_berger_cookies.md
  docs/pasta/__TOC.md
  docs/pasta/leftover-ricotta-pasta.jpg
  docs/pasta/leftover-ricotta-pasta.md
Due: none

docs: update with doit
  CHANGELOG.md
  TAG_SUMMARY.md
  poetry.lock
Due: lock_deps

docs: update TODO list
  CHANGELOG.md
  docs/zdev/CODE_TAG_SUMMARY.md
Due: none

fix: apply type fixes from mypy
  recipes/formatter.py
  recipes/tasks.py
Due: doit_test

refactor: fix and improve dodo
  docs/zdev/CODE_TAG_SUMMARY.md
  dodo.py
Due: doit_test

feat: update calcipy for better dodo
  dodo.py
  poetry.lock
  pyproject.toml
  recipes/tasks.py
Due: lock_deps, doit_test

refactor: move docs to z_dev
  docs/z_dev/CODE_OF_CONDUCT.md
  docs/z_dev/CODE_TAG_SUMMARY.md
  docs/z_dev/CONTRIBUTING.md
  docs/z_dev/DEVELOPER_GUIDE.md
  docs/z_dev/NOTES.md
  docs/z_dev/README.md
  docs/z_dev/SECURITY.md
  docs/z_dev/STYLE_GUIDE.md
Due: none

build: apply latest calcipy template
  .copier-answers.yml
  .github/workflows/labels.yml
  appveyor.yml
  docs/README.md
  dodo.py
  tests/configuration.py
Due: doit_test

feat: setup CD on AppVeyor
  .copier-answers.yml
  appveyor.yml
  pyproject.toml
Due: lock_deps

build: increment for 0.1.0
  CHANGELOG.md
  appveyor.yml
  pyproject.toml
  recipes/__init__.py
Due: lock_deps, doit_test

build: create 0.2.0 tag
  appveyor.yml
  pyproject.toml
  recipes/__init__.py
Due: lock_deps, doit_test

build: add git credentials for deploy
  appveyor.yml
Due: none

docs: ensure all docs in custom doc_dic
  docs/README.md
  docs/z_dev/CHANGELOG.md
  docs/z_dev/README.md
Due: none

build: update calcipy
  poetry.lock
  pyproject.toml
Due: lock_deps

build: update to copier template 0.0.6
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  .isort.cfg
  .pre-commit-config.yaml
  mypy.ini
  noxfile.py
  recipes/formatter.py
  tests/configuration.py
  tests/conftest.py
Due: doit_test

fix: correct for changes in calcipy ad148bc
  docs/z_dev/CHANGELOG.md
  docs/z_dev/CODE_TAG_SUMMARY.md
  noxfile.py
  recipes/formatter.py
  recipes/tasks.py
Due: doit_test

build: try to debug AppVeyor .venv cache error
  appveyor.yml
Due: none

Deployed e3d4747 with MkDocs version: 1.1.2
  dessert/__TOC/index.html
  drinks/__TOC/index.html
  pasta/__TOC/index.html
  rice/__TOC/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  soup/__TOC/index.html
  tools/__TOC/index.html
  veggie/__TOC/index.html
  z_dev/CHANGELOG/index.html
  z_dev/CODE_TAG_SUMMARY/index.html
Due: none

docs: add notes about pending changes in calcipy
  .pre-commit-config.yaml
  docs/z_dev/CHANGELOG.md
  docs/z_dev/CODE_TAG_SUMMARY.md
  docs/z_dev/README.md
  dodo.py
  recipes/formatter.py
Due: doit_test

feat: add falafel recipe
  docs/veggie/__TOC.md
  docs/veggie/falafel_pitas_with_cilantro_cashew_sauce.jpeg
  docs/veggie/falafel_pitas_with_cilantro_cashew_sauce.md
  docs/veggie/roasted_vegetables.md
  docs/veggie/salad.md
Due: none

fix: rename isort
  isort.cfg
Due: none

build: update to calcipy 0.2.0 and latest template
  .copier-answers.yml
  .deepsource.toml
  .flake8
  .github/ISSUE_TEMPLATE/config.yml
  .github/labels.yml
  .github/workflows/labels.yml
  .gitignore
  .pre-commit-config.yaml
  .pyup.yml
  appveyor.yml
  docs/z_dev/README.md
  docs/z_dev/docs/CODE_OF_CONDUCT.md
  docs/z_dev/docs/CONTRIBUTING.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/docs/NOTES.md
  docs/z_dev/docs/SECURITY.md
  docs/z_dev/docs/STYLE_GUIDE.md
  mkdocs.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: lock_deps, doit_test

build: install dependencies missing from calcipy 0.2.0
  .calcipy_packaging.lock
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps

docs: auto-update with doit
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  dodo.py
  recipes/__init__.py
Due: doit_test

refactor: upgrade type annotations for 3.9
  recipes/formatter.py
  recipes/tasks.py
Due: doit_test

build: update to latest calcipy with nox and dep fixes
  .calcipy_packaging.lock
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps

build: fix paths to docs and pre-commit false positives
  .gitignore
  .pre-commit-config.yaml
  README.md
  appveyor.yml
Due: none

Path conditions:
  copier-forbidden-files: any of: \.rej$
  lock_deps: any of: ^(pyproject.toml|poetry.lock)$
  doit_test: any of: \.py$
