Repository KyleKing/recipes: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit_test

copier-forbidden-files:
  name: copier_forbidden_files
  entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
  language: fail

lock_deps:
  name: lock_dependencies
  entry: poetry lock
  language: system
  stages:
  - commit
  pass_filenames: false

doit_test:
  name: doit_test
  entry: poetry run doit run test
  language: system
  stages:
  - push
  pass_filenames: false

feat: symlink obsidian vault for editing
  docs/.obsidian
Due: none

docs: remove Blueberry Source Cream Muffins
  docs/dessert/blueberry_sour_cream_muffins.md
Due: none

build: copier update
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/actions/setup/action.yml
  .github/labels.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labels.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
  .pre-commit-config.yaml
  .sourcery.yaml
  .yamllint.yaml
  docs/z_dev/README.md
  docs/z_dev/adr/NNN-Template.md
  docs/z_dev/adr/README.md
  docs/z_dev/css/mkdocstrings.css
  docs/z_dev/docs/CODE_OF_CONDUCT.md
  docs/z_dev/docs/CONTRIBUTING.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/docs/SECURITY.md
  docs/z_dev/docs/STYLE_GUIDE.md
  docs/z_dev/gen_ref_nav.py
  mkdocs.yml
  mypy.ini
  noxfile.py
  tests/conftest.py
Due: doit_test

build: bump calcipy version and update package
  poetry.lock
  pyproject.toml
  recipes/formatter.py
  recipes/tasks.py
Due: lock_deps, doit_test

build: copier update
  .copier-answers.yml
  .flake8
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/labels.yml
  .mypy.ini
  README.md
  docs/z_dev/README.md
  dodo.py
  mkdocs.yml
Due: doit_test

docs: rewrite to reduce frequency of indented sublists
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  docs/bread/no_knead_focaccia.md
  docs/breakfast/egg_sandwich.md
  docs/breakfast/eggs_benedict.md
  docs/dessert/baltimore_berger_cookies.md
  docs/dessert/chocolate_chip_cookies.md
  docs/soup/slow_cooker_chicken_tortilla_soup.md
  docs/veggie/chickpea_spicy_buffalo_wrap.md
  docs/veggie/ginger_orange_broccoli_and_noodles.md
  docs/veggie/mediterranean_cauliflower_platter.md
  docs/veggie/polenta_with_white_beans_and_italian_salsa_verde.md
  docs/veggie/roasted_vegetables.md
  docs/veggie/sweet_potato_gnocchi.md
  docs/veggie/veggie_couscous_with_spicy_pine_nuts.md
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/modules/recipes/classes.svg
  docs/z_dev/modules/recipes/packages.svg
Due: none

bump: version 0.3.0 → 0.4.0
  pyproject.toml
  recipes/__init__.py
Due: lock_deps, doit_test

docs: update shrimp taco recipe
  docs/seafood/shrimp_tacos.md
Due: none

docs: remove instant pot minestrone and adding missing garlic
  docs/soup/instant_pot_minestrone.md
  docs/soup/parmesan_minestrone.md
Due: none

feat: migrate to Python 3.11
  .calcipy_packaging.lock
  .copier-answers.yml
  .flake8
  .github/workflows/ci_pipeline.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
  .mypy.ini
  .pre-commit-config.yaml
  .pylintrc
  .sourcery.yaml
  .tool-versions
  docs/CNAME
  docs/_javascript/tables.js
  docs/_stylesheets/mkdocstrings.css
  docs/seafood/__TOC.md
  docs/seafood/shrimp_tacos.md
  docs/soup/__TOC.md
  docs/z_dev/README.md
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/gen_ref_nav.py
  docs/z_dev/modules/recipes/classes.svg
  docs/z_dev/modules/recipes/packages.svg
  poetry.lock
  pyproject.toml
Due: lock_deps, doit_test

fix: correct indentation for tonight's dinner!
  docs/soup/johns_chili.md
Due: none

fix: add missing instruction to drain
  docs/soup/johns_chili.md
Due: none

refactor: update copier
  .copier-answers.yml
  .pre-commit-config.yaml
  docs/z_dev/_styles/mkdocstrings.css
  docs/z_dev/docs/_docs.md
  mkdocs.yml
  tests/test_zz_recipes.py
Due: doit_test

docs: fix broken symlink after copier changes
  .pre-commit-config.yaml
  docs/_styles/extra.css
  docs/_styles/mkdocstrings.css
  docs/_stylesheets/mkdocstrings.css
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
Due: none

refactor: remove cauliflower platter and cleanup checklists
  .pre-commit-config.yaml
  docs/pasta/__TOC.md
  docs/pasta/spaghetti_sauce.md
  docs/seafood/__TOC.md
  docs/seafood/shrimp_tacos.jpg
  docs/seafood/shrimp_tacos.md
  docs/sides/aunt_laura's_spicy_chicken_dip.md
  docs/soup/chicken_noodle_soup.md
  docs/soup/french_onion_soup.md
  docs/soup/johns_chili.md
  docs/soup/pot_pie_soup.md
  docs/soup/spring_chicken_stew.md
  docs/soup/veggie_loaded_red_curry.md
  docs/sushi/_rice.md
  docs/sushi/canned_spicy_tuna_roll.md
  docs/sushi/shrimp_and_avocado.md
  docs/sushi/shrimp_nigiri.md
  docs/sushi/shrimp_spicy_rolls.md
  docs/sushi/smoked_salmon_nigiri.md
  docs/sushi/smoked_salmon_rolls.md
  docs/sushi/vegetable_rolls.md
  docs/veggie/__TOC.md
  docs/veggie/baked_potatoes.md
  docs/veggie/baked_potatoes_instant_pot.md
  docs/veggie/crispy_baked_sweet_potato_fries.md
  docs/veggie/green_chile_mac.md
  docs/veggie/guacamole.md
  docs/veggie/mediterranean_cauliflower_platter.md
  docs/veggie/sweet_potato_gnocchi.md
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/modules/recipes/classes.svg
  docs/z_dev/modules/recipes/packages.svg
  poetry.lock
Due: lock_deps

refactor: remove Obsidian vault reference
  docs/.obsidian
Due: none

feat: add blackened seasoning
  .pre-commit-config.yaml
  docs/seafood/baked-fish.md
Due: none

fix: migrate to mdformat-mkdocs
  .github/ABOUT.md
  .pre-commit-config.yaml
  docs/bread/pretzels.md
  docs/breakfast/hash.md
  docs/dessert/biscotti.md
  docs/drinks/coffee.md
  docs/drinks/margarita.md
  docs/meals/gyros.md
  docs/meals/lasagna.md
  docs/pizza/pizza.md
  docs/seafood/baked-fish-and-asparagus.md
  docs/seafood/baked-fish.md
  docs/sides/bruschetta.md
  docs/sides/hummus.md
  docs/veggie/salad.md
Due: none

ci: switch to prettier for pre-commit
  .github/actions/setup/action.yml
  .github/labels.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labels.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
  .pre-commit-config.yaml
  .sourcery.yaml
  mkdocs.yml
Due: none

build: copier update
  .copier-answers.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/setup/action.yml
  .github/codeql-config.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
  docs/z_dev/docs/Advanced_Documentation.md
  mkdocs.yml
  tests/test_zz_recipes.py
Due: doit_test

build: dependency updates
  poetry.lock
Due: lock_deps

[create-pull-request] automated change
  poetry.lock
Due: lock_deps

docs: regular update
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/modules/recipes/classes.svg
  docs/z_dev/modules/recipes/packages.svg
  pyproject.toml
Due: lock_deps

build: update with copier template
  .calcipy.json
  .copier-answers.yml
  .editorconfig
  .flake8
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/labeler.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
  .mypy.ini
  .pre-commit-config.yaml
  .pylintrc
  .sourcery.yaml
  .tool-versions
  .yamllint.yaml
  docs/z_dev/_javascript/tables.js
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/gen_ref_nav.py
  dodo.py
  mkdocs.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  recipes/__init__.py
  ruff.toml
  run
  scripts/README.md
  scripts/check_imports.py
  tests/__init__.py
  tests/configuration.py
  tests/conftest.py
  tests/test_zz_recipes.py
Due: lock_deps, doit_test

build: sort pyproject.toml
  pyproject.toml
Due: lock_deps

feat: begin converting tasks to Invoke
  .pre-commit-config.yaml
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  poetry.lock
  pyproject.toml
  recipes/formatter.py
  recipes/scripts.py
  recipes/tasks.py
Due: lock_deps, doit_test

build: copier update
  .copier-answers.yml
  .flake8
  .github/workflows/ci_pipeline.yml
  .github/workflows/upgrade-dependencies.yml
  .gitignore
  .pre-commit-config.yaml
  .ruff.toml
  docs/z_dev/README.md
  mkdocs.yml
  pyproject.toml
Due: lock_deps

fix: resolve bugs in recipe formatter
  .pre-commit-config.yaml
  docs/_javascript/hider.js
  docs/breakfast/breakfast_burrito.md
  poetry.lock
  pyproject.toml
  recipes/formatter.py
  recipes/tasks.py
Due: lock_deps, doit_test

refactor: remove the difficult Chicken and Dumpling recipe
  docs/soup/chicken_and_dumplings_teigen.jpeg
  docs/soup/chicken_and_dumplings_teigen.md
Due: none

docs: remove remaining empty files
  docs/bread/banana_rolls.md
  docs/breakfast/egg_scrambled.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
Due: none

docs: fix tipes and restore custom theme
  docs/poultry/proscuitto_wrapped_stuffed_chicken.md
  docs/soup/__TOC.md
  docs/soup/chicken_and_dumplings_instant_pot.md
  docs/soup/chili_con_carne.md
  mkdocs.yml
Due: none

ci: preview calcipy bug fix with recipes_deploy
  .github/workflows/update_docs.yml
  recipes/tasks.py
Due: doit_test

docs: update Spring Chicken Stew
  .github/workflows/update_docs.yml
  docs/soup/spring_chicken_stew.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
Due: none

docs: remove the other Dumpling recipe
  docs/soup/__TOC.md
  docs/soup/chicken_and_dumplings_instant_pot.jpeg
  docs/soup/chicken_and_dumplings_instant_pot.md
Due: none

docs: remove Polenta recipe
  docs/veggie/__TOC.md
  docs/veggie/polenta_with_white_beans_and_italian_salsa_verde.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
Due: none

fix: set indent to 4
  mkdocs.yml
Due: none

Path conditions:
  copier-forbidden-files: any of: \.rej$
  lock_deps: any of: ^(pyproject.toml|poetry.lock)$
  doit_test: any of: \.py$
