Repository KyleKing/recipes: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit_test

copier-forbidden-files:
  name: copier_forbidden_files
  entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
  language: fail

lock_deps:
  name: lock_dependencies
  entry: poetry lock
  language: system
  stages:
  - commit
  pass_filenames: false

doit_test:
  name: doit_test
  entry: poetry run doit run test
  language: system
  stages:
  - push
  pass_filenames: false

feat: add Chicken Pot Pie
  docs/poultry/__TOC.md
  docs/poultry/dump_chicken_pot_pie.jpeg
  docs/poultry/dump_chicken_pot_pie.md
Due: none

docs: merge Poached Chicken recipes
  docs/poultry/__TOC.md
  docs/poultry/dump_chicken_pot_pie.md
  docs/poultry/poached_chicken.md
Due: none

docs: merge baked potato recipes
  docs/meals/__TOC.md
  docs/meals/baked_potatoes.jpeg
  docs/meals/baked_potatoes.jpg
  docs/meals/baked_potatoes.md
  docs/meals/baked_potatoes_instant_pot.jpg
  docs/meals/baked_potatoes_instant_pot.md
Due: none

docs: update Roasted Potato recipe
  docs/meals/__TOC.md
  docs/meals/emily_english_roasted_potatoes.jpeg
  docs/meals/emily_english_roasted_potatoes.md
  docs/meals/roasted_potatoes.md
  docs/meals/roasted_potatoes_emily_english.jpeg
Due: none

docs: replace roasted potatoe recipe with something easier
  docs/meals/__TOC.md
  docs/meals/roasted_potatoes.jpeg
  docs/meals/roasted_potatoes.md
  docs/meals/roasted_potatoes_emily_english.jpeg
Due: none

docs: remove redundant Poached Chicken ingredients
  docs/poultry/dump_chicken_pot_pie.md
Due: none

docs: run main actions
  .calcipy_packaging.lock
  docs-code/docs/CHANGELOG.md
  docs-code/docs/DEVELOPER_GUIDE.md
Due: none

docs: potatoes without the oil
  docs/meals/baked_potatoes.md
Due: none

docs: minor pot pie updates
  docs/poultry/dump_chicken_pot_pie.md
Due: none

docs: improve fried rice recipe
  docs/meals/__TOC.md
  docs/meals/fried_rice.jpeg
  docs/meals/fried_rice.md
  docs/meals/fried_rice_hoisin.jpeg
Due: none

docs: use immersion blender for creamy tomato soup
  docs/soup/__TOC.md
  docs/soup/creamy_tomato_soup.md
Due: none

docs: add possible inspiration for Enchiladas
  docs/poultry/enchiladas.md
Due: none

docs: init Chicken and Yellow rice
  docs/poultry/__TOC.md
  docs/poultry/street_cart_chicken_and_yellow_rice.md
Due: none

docs: more salad notes
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs/meals/salad.md
Due: none

docs: clarify shrimp creole recipe
  docs/seafood/__TOC.md
  docs/seafood/shrimp_creole.md
Due: none

build: update dependencies
  poetry.lock
  pyproject.toml
  recipes/formatter.py
  recipes/tasks.py
Due: lock_deps, doit_test

feat: one-pot Shrimp Scampi pasta
  docs/seafood/__TOC.md
  docs/seafood/shrimp_scampi.jpeg
  docs/seafood/shrimp_scampi.md
  docs/seafood/shrimp_scampi_peas.jpeg
Due: none

docs: five stars!
  docs/dessert/hot_fudge_sauce.md
Due: none

docs: improve Quinoa Chili recipe
  docs/meals/__TOC.md
  docs/meals/instant_pot_vegetarian_chili.md
  docs/meals/instant_pot_vegetarian_quinoa_chili.jpeg
  docs/soup/parmesan_minestrone.md
Due: none

build: copier-auto-update
  .copier-answers.yml
  .flake8
  .github/actions/setup/action.yml
  .mypy.ini
  .pre-commit-config.yaml
  .ruff.toml
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs-code/docs/DEVELOPER_GUIDE.md
  docs/dessert/__TOC.md
  pyproject.toml
  recipes/__init__.py
  recipes/_runtime_type_check_setup.py
  recipes/py.typed
  tests/conftest.py
Due: lock_deps, doit_test

ci: fix poetry lock
  poetry.lock
Due: lock_deps

ci: fix static analysis errors
  docs-code/docs/CHANGELOG.md
  docs-code/docs/DEVELOPER_GUIDE.md
  docs-code/modules/recipes/classes.svg
  docs-code/modules/recipes/packages.svg
  poetry.lock
  pyproject.toml
  recipes/formatter.py
  recipes/tasks.py
  tests/conftest.py
  tests/test_tasks.py
Due: lock_deps, doit_test

build: uninstall cz_legacy
  .pre-commit-config.yaml
  docs-code/docs/CHANGELOG.md
  pyproject.toml
Due: lock_deps

build: copier-auto-update
  .copier-answers.yml
  .yamllint.yaml
  docs-code/docs/Advanced_Documentation.md
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs-code/docs/DEVELOPER_GUIDE.md
  docs-code/gen_ref_nav.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
  recipes/formatter.py
  scripts/check_imports.py
  tests/conftest.py
Due: lock_deps, doit_test

docs: update Lentil Soup
  docs/soup/__TOC.md
  docs/soup/lentil_soup.jpeg
  docs/soup/lentil_soup.md
Due: none

docs: general updates
  docs/meals/cauliflower_lime_burrito_bowl.md
  docs/meals/roasted_vegetables.md
  docs/poultry/chicken_cacciatore.md
  docs/poultry/dump_chicken_pot_pie.md
  docs/poultry/poached_chicken.md
Due: none

docs: add quiche recipe
  docs/breakfast/__TOC.md
  docs/breakfast/quiche.md
Due: none

docs: add pickled red onions
  .pre-commit-config.yaml
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs-code/docs/DEVELOPER_GUIDE.md
  docs/meals/__TOC.md
  docs/meals/pickled_red_onions.jpeg
  docs/meals/pickled_red_onions.md
  poetry.lock
  pyproject.toml
Due: lock_deps

docs: fix image rotation
  docs/meals/__TOC.md
  docs/meals/pickled_red_onions.jpeg
  docs/meals/pickled_red_onions.md
Due: none

ci: fix lint errors
  recipes/_runtime_type_check_setup.py
  recipes/formatter.py
  tests/conftest.py
Due: doit_test

ci: remove dashes added by numpy-style docstrings
  docs-code/docs/CODE_TAG_SUMMARY.md
  recipes/formatter.py
Due: doit_test

docs: fix broken links
  docs/breakfast/smoothies.md
  docs/dessert/chocolate_chip_cookies.md
  docs/sushi/_rice.md
  docs/sushi/shrimp_spicy_rolls.md
Due: none

docs: soften carrots for pot pie
  docs/poultry/dump_chicken_pot_pie.md
Due: none

docs: replace fettucine noodles with penna for mushroom pasta
  docs/pasta/classic_pasta_and_mushrooms.md
  docs/pasta/sausage_and_mushroom_penne_pasta.md
Due: none

docs: add infant recipe for roasted veggies
  docs/meals/roasted_vegetables.md
Due: none

docs: use skillet for baked sausage
  docs/meals/__TOC.md
  docs/meals/oven-baked_sausage.md
Due: none

docs: add infant pancakes
  docs/breakfast/__TOC.md
  docs/breakfast/infant_pancakes.jpeg
  docs/breakfast/infant_pancakes.md
Due: none

docs: reduce quiche recipe to fit within a single pie pan
  docs/breakfast/__TOC.md
  docs/breakfast/quiche.jpeg
  docs/breakfast/quiche.md
Due: none

docs: rename quiche recipe
  docs/breakfast/__TOC.md
  docs/breakfast/mushroom_spinach_quiche.jpeg
  docs/breakfast/mushroom_spinach_quiche.md
Due: none

docs: add Better BLT
  docs-code/docs/DEVELOPER_GUIDE.md
  docs/meals/__TOC.md
  docs/meals/ultimate_blt.jpeg
  docs/meals/ultimate_blt.md
Due: none

Path conditions:
  copier-forbidden-files: any of: \.rej$
  lock_deps: any of: ^(pyproject.toml|poetry.lock)$
  doit_test: any of: \.py$
