Repository KyleKing/recipes: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit

.pre-commit-config.yaml:

# Common commands:
# poetry run pre-commit install
# poetry run pre-commit run --hook-stage commit --all-files
# poetry run pre-commit run --hook-stage push --all-files
# poetry run doit run pre_commit_hooks
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      # - id: check-docstring-first > Doesn't handle global variable docstrings
      - id: check-executables-have-shebangs
      - id: pretty-format-json
      - id: check-toml
      - id: check-xml
      - id: destroyed-symlinks
      - id: double-quote-string-fixer
      - id: file-contents-sorter
      - id: fix-byte-order-marker
      # - id: name-tests-test  > End with _test.py?
      - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: sort-simple-yaml

      - id: check-byte-order-marker  # Forbid UTF-8 byte-order markers
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-ast
      - id: check-builtin-literals
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: check-json
      # - id: check-yaml  # The mkdocs YAML file isn't valid...
      - id: debug-statements
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
        args: ["--remove"]
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: trailing-whitespace
        stages: [push]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.13.0
    hooks:
      - id: commitizen
        additional_dependencies: ["cz_legacy"]
        stages: [commit-msg]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.4
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
        stages: [push]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.0.1
    hooks:
      - id: add-trailing-comma
        stages: [push]
  - repo: local
    hooks:
      - id: copier-forbidden-files
        name: copier_forbidden_files
        entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
        language: fail
        files: "\\.rej$"
      - id: lock_deps
        name: lock_dependencies
        entry: poetry lock
        pass_filenames: false
        language: system
        files: ^(pyproject.toml|poetry.lock)$
        stages: [push]
      - id: doit
        name: doit
        entry: poetry run doit run test
        pass_filenames: false
        language: system
        types: [python]
        stages: [push]

build: alphabetize hooks in pre-commit
  .pre-commit-config.yaml
Due: none

docs: reformat wine list and add new entries
  docs/drinks/__TOC.md
  docs/drinks/wine.md
Due: none

docs: add Chili recipe
  .pre-commit-config.yaml
  docs/soup/__TOC.md
  docs/soup/chili_con_carne.jpeg
  docs/soup/chili_con_carne.md
  poetry.lock
  recipes/tasks.py
Due: lock_deps, doit

build: run compress for only new files
  .pre-commit-config.yaml
  TAG_SUMMARY.md
  dodo.py
  recipes/__init__.py
  recipes/tasks.py
Due: doit

build: update lock file and hooks
  .pre-commit-config.yaml
  poetry.lock
  recipes/tasks.py
Due: lock_deps, doit

docs: update margaritas
  _TODO.md
  docs/drinks/__TOC.md
  docs/drinks/frozen_strawberry_margarita.md
  docs/drinks/margarita.md
  docs/drinks/spicy_margarita.md
  docs/drinks/spicy_watermelon_margarita.md
Due: none

docs: add goat cheese tenders
  .pre-commit-config.yaml
  docs/poultry/__TOC.md
  docs/poultry/goat_cheese_chicken_tenders.jpeg
  docs/poultry/goat_cheese_chicken_tenders.md
  recipes/tasks.py
Due: doit

build: remove compress hook; prevents committing
  .pre-commit-config.yaml
Due: none

build: update dependencies
  poetry.lock
  pyproject.toml
Due: lock_deps

fix: skip icons from png to jpg conversion
  .pre-commit-config.yaml
  TAG_SUMMARY.md
  dodo.py
  recipes/tasks.py
Due: doit

docs: add double layer pumpkin pie
  docs/dessert/__TOC.md
  docs/dessert/double_layer_pumpkin_pie.jpeg
  docs/dessert/double_layer_pumpkin_pie.md
Due: none

docs: add chicken & dumplings from Teigen's cookbook
  CHANGELOG.md
  TAG_SUMMARY.md
  docs/dessert/__TOC.md
  docs/dessert/double_layer_pumpkin_pie.md
  docs/soup/__TOC.md
  docs/soup/chicken_and_dumplings_instant_pot.jpeg
  docs/soup/chicken_and_dumplings_instant_pot.md
  docs/soup/chicken_and_dumplings_teigen.jpeg
  docs/soup/chicken_and_dumplings_teigen.md
Due: none

docs: Kung Pao roasted broccoli
  docs/rice/__TOC.md
  docs/rice/kung_pao_roasted_broccoli.jpeg
  docs/rice/kung_pao_roasted_broccoli.md
Due: none

docs: update Teigen meatball/sauce recipe
  docs/pasta/__TOC.md
  docs/pasta/spaghetti_meatballs_teigen.jpeg
  docs/pasta/spaghetti_meatballs_teigen.md
Due: none

docs: update ice cream recipes
  docs/ice_cream/chocolate_ice_cream.md
  docs/ice_cream/chocolate_nutella.md
  docs/ice_cream/frozen_m&m.md
  docs/ice_cream/mint_chocolate_chunk.md
  docs/ice_cream/smores_ice_cream.md
  docs/ice_cream/vanilla_ice_cream.md
Due: none

docs: merge chocolate, vanilla, and M&M recipes
  docs/ice_cream/__TOC.md
  docs/ice_cream/chocolate_ice_cream.md
  docs/ice_cream/frozen_m&m.md
  docs/ice_cream/general_ice_cream-alt.jpeg
  docs/ice_cream/general_ice_cream.jpeg
  docs/ice_cream/general_ice_cream.md
  docs/ice_cream/vanilla_ice_cream.md
Due: none

docs: added new winter drinks
  docs/drinks/__TOC.md
  docs/drinks/coquito.md
  docs/drinks/eggnog.md
Due: none

docs: update README
  README.md
  _TODO.md
Due: none

docs: update cookie recipe
  docs/dessert/chocolate_chip_oatmeal_cookies.md
Due: none

docs: sync local batch of recent recipes
  docs/breakfast/__TOC.md
  docs/breakfast/egg_sandwich.jpeg
  docs/breakfast/egg_sandwich.md
  docs/breakfast/egg_scrambled.md
  docs/dessert/__TOC.md
  docs/dessert/banana_bread.md
  docs/dessert/chocolate_chip_cookies.md
  docs/dessert/chocolate_chip_oatmeal_cookies.jpg
  docs/dessert/chocolate_chip_oatmeal_cookies.md
  docs/drinks/__TOC.md
  docs/drinks/coffee.md
  docs/drinks/grasshopper.md
  docs/drinks/sidecar.md
  docs/soup/__TOC.md
  docs/soup/creamy_tomato_soup.jpeg
  docs/soup/creamy_tomato_soup.md
  docs/soup/vegetable_tortilla_stew.jpg
  docs/soup/vegetable_tortilla_stew.md
  docs/veggie/__TOC.md
  docs/veggie/chickpea_salad_toasts_with_poached_egg.md
  docs/veggie/karens_roasted_veggie_bowls.md
  docs/veggie/veggie_couscous_with_spicy_pine_nuts-alt.jpeg
  docs/veggie/veggie_couscous_with_spicy_pine_nuts.jpeg
  docs/veggie/veggie_couscous_with_spicy_pine_nuts.md
Due: none

docs: manually reviewed a number of recipes
  docs/breakfast/__TOC.md
  docs/breakfast/breakfast_burrito.md
  docs/breakfast/cheesy_cheeseless_scrambled_eggs_with_burst_cherry_tomatoes.md
  docs/breakfast/eggs_benedict.md
  docs/breakfast/hard_boiled_eggs.md
  docs/breakfast/lemon_poppy_seed_mini_scones.md
  docs/breakfast/omelette.md
  docs/breakfast/pancakes_new_york_times.md
  docs/breakfast/waffles.md
  docs/dessert/__TOC.md
  docs/dessert/chocolate_chip_oatmeal_cookies.md
  docs/dessert/easter_coconut_cake.md
  docs/pasta/sausage_and_mushroom_penne_pasta.md
  docs/poultry/__TOC.md
  docs/poultry/baked_chicken_and_potatoes.md
  docs/poultry/breaded_chicken.md
  docs/poultry/brick_chicken.md
  docs/poultry/chicken.md
  docs/poultry/chicken_cacciatore.md
  docs/poultry/chicken_instant_pot.md
  docs/poultry/chicken_shawarma.md
  docs/poultry/chicken_tacos.md
  docs/poultry/chicken_thighs.md
  docs/poultry/enchiladas.md
  docs/poultry/fajitas.md
  docs/poultry/honey_and_soy_glazed_chicken_thighs.md
  docs/poultry/mediterranean_chicken.md
  docs/poultry/paremesan_chicken_breasts.md
  docs/poultry/proscuitto_wrapped_stuffed_chicken.md
  docs/poultry/sesame_chicken_noodles.md
  docs/poultry/sriracha_chicken.md
  docs/poultry/teryaki_chicken.md
  docs/sides/__TOC.md
  docs/sides/favorite_snacks.md
  docs/soup/__TOC.md
  recipes/formatter.py
Due: doit

docs: updated oatmeal recipes
  docs/breakfast/__TOC.md
  docs/breakfast/oatmeal.md
  docs/breakfast/oatmeal_carrot_cake.md
  docs/breakfast/shakshuka.md
  docs/pizza/mini_pizza.md
  docs/pizza/pizza.md
  docs/sushi/__TOC.md
  docs/sushi/_rolling.md
  docs/veggie/chana_masala.md
Due: none

docs: sync recently made drinks and notes
  docs/dessert/__TOC.md
  docs/dessert/baileys_chocolate_truffles.md
  docs/drinks/__TOC.md
  docs/drinks/baileys_hot_chocolate.md
  docs/drinks/baileys_raspberry_cocktail.jpg
  docs/drinks/baileys_raspberry_cocktail.md
  docs/drinks/spiked_milkshake.md
  docs/tools/__TOC.md
  docs/tools/flower_water.md
Due: none

docs: new bread recipes
  docs/bread/__TOC.md
  docs/bread/base_recipe_for_no_knead_bread.md
  docs/bread/no_knead_focaccia.jpeg
  docs/bread/no_knead_focaccia.md
  recipes/formatter.py
Due: doit

docs: minor typo corrections
  .pre-commit-config.yaml
  TAG_SUMMARY.md
  _TODO.md
  docs/breakfast/eggs_benedict.md
  docs/pasta/pasta_with_corn_zucchini_and_tomatoes.md
  main.py
  poetry.lock
Due: lock_deps, doit

docs(#11): fix last of rotated images
  .pre-commit-config.yaml
  docs/breakfast/hard_boiled_eggs.jpeg
  docs/dessert/chocolate_chip_cookies.md
  docs/meals/broccoli_cheddar_chicken_and_rice_casserole.jpeg
  docs/meals/quesadillas.jpeg
  docs/soup/kale_sausage_white_bean_soup_with_parm_toasts.jpeg
  docs/veggie/baked_broccoli.jpg
Due: none

feat: show password modal
  docs/_javascript/hider.js
  docs/_javascript/tables.js
  mkdocs.yml
Due: none

refactor: comment-out duplicate task
  dodo.py
  recipes/tasks.py
Due: doit

build: update dependencies
  poetry.lock
Due: lock_deps

fix: password prompt on mobile
  docs/_javascript/hider.js
Due: none

docs: add local recipes
  docs/_javascript/hider.js
  docs/breakfast/__TOC.md
  docs/breakfast/hash.md
  docs/pasta/__TOC.md
  docs/pasta/baked_feta_pasta.md
  docs/tools/__TOC.md
  docs/tools/oven_clean.md
  docs/veggie/veggie_couscous_with_spicy_pine_nuts.md
Due: none

docs: add recent drinks and pasta
  docs/drinks/that_butterscotch_drink.jpeg
  docs/drinks/that_butterscotch_drink.md
  docs/drinks/watermelon_margarita.jpg
  docs/drinks/watermelon_margarita.md
  docs/pasta/spaghetti_with_cilantro_sauce.jpg
  docs/pasta/spaghetti_with_cilantro_sauce.md
  docs/sides/favorite_snacks.md
  recipes/tasks.py
Due: doit

docs: update TOC and ratings
  docs/drinks/__TOC.md
  docs/drinks/that_butterscotch_drink.md
  docs/drinks/watermelon_margarita.md
  docs/pasta/__TOC.md
  docs/pasta/spaghetti_with_cilantro_sauce.md
  docs/tools/__TOC.md
  docs/tools/oven_clean.md
Due: none

build: update calcipy version
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/CODE_TAG_SUMMARY.md
  dodo.py
  poetry.lock
  pyproject.toml
Due: lock_deps, doit

build: try to fix pre-commit
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
Due: lock_deps

build: variation on pre-commit fix
  .pre-commit-config.yaml
Due: none

build: executable issue with Tower GUI
  .pre-commit-config.yaml
Due: none
