Repository KyleKing/recipes: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit_test

.pre-commit-config.yaml:

# Common commands:
# poetry run pre-commit install
# poetry run pre-commit run --hook-stage commit --all-files
# poetry run pre-commit run --hook-stage push --all-files
# poetry run doit run pre_commit_hooks
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: copier-forbidden-files
        name: copier_forbidden_files
        entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
        language: fail
        files: "\\.rej$"
      - id: lock_deps
        name: lock_dependencies
        # FYI: Won't work in Tower. Submitted Support request #90767
        entry: poetry lock
        language: system
        files: ^(pyproject.toml|poetry.lock)$
        stages: [commit]
        pass_filenames: false
      - id: doit_test
        name: doit_test
        entry: poetry run doit run test
        language: system
        types: [python]
        stages: [push]
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
        args: ['--unsafe']
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: ['--remove']
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: pretty-format-json
        args: ['--autofix']
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.17.6
    hooks:
      - id: commitizen
        additional_dependencies: ['cz_legacy']
        stages: [commit-msg]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.16.0
    hooks:
      - id: pyupgrade
        stages: [push]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.1.0
    hooks:
      - id: add-trailing-comma
        stages: [push]

ci: poetry update
  .calcipy_packaging.lock
  docs-code/docs/CHANGELOG.md
  docs-code/docs/DEVELOPER_GUIDE.md
  poetry.lock
Due: lock_deps

build: copier update (#26)
  .calcipy_packaging.lock
  .copier-answers.yml
  .pylintrc
  docs-code/docs/CHANGELOG.md
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs-code/docs/DEVELOPER_GUIDE.md
  poetry.lock
Due: lock_deps

feat: add grinder_salad_sandwich
  __recipes-todo__ alias
  docs/meals/__TOC.md
  docs/meals/grinder_salad_sandwich.jpeg
  docs/meals/grinder_salad_sandwich.md
Due: none

docs: update French Onion Soup
  docs/soup/__TOC.md
  docs/soup/french_onion_soup.md
Due: none

docs: remove Hawaiian BLTs
  docs/meals/__TOC.md
  docs/meals/kings_hawaiian_blpts.jpeg
  docs/meals/kings_hawaiian_blpts.md
Due: none

docs: update coffee reference
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs/drinks/__TOC.md
  docs/drinks/coffee.md
Due: none

build: copier-auto-update
  .copier-answers.yml
  .pre-commit-config.yaml
  docs-code/docs/STYLE_GUIDE.md
Due: none

docs: remove a pair of unused recipes
  docs-code/docs/CHANGELOG.md
  docs-code/docs/DEVELOPER_GUIDE.md
  docs/meals/__TOC.md
  docs/meals/grilled_cheese.jpeg
  docs/meals/grilled_cheese.md
  docs/meals/jambon_beurre.md
  docs/meals/quick_skillet_meals.jpeg
  docs/meals/quick_skillet_meals.jpg
  docs/meals/quick_skillet_meals.md
Due: none

docs: clarify large can of water
  docs/pasta/spaghetti_sauce.md
Due: none

docs: add Lox Sandwich
  docs/breakfast/__TOC.md
  docs/breakfast/lox_sandwich.md
Due: none

docs: better orzo-casserole recipe
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs/drinks/coffee.md
  docs/meals/__TOC.md
  docs/meals/broccoli_cheddar_chicken_and_rice_casserole.md
Due: none

docs: improve orzo + corn recipe
  docs/pasta/one_pot_orzo_with_sausage_spinach_and_corn.md
Due: none

docs: remove unmade Chef's Fridges recipes
  docs/pasta/__TOC.md
  docs/pasta/butternut_squash_gnocchi_with_chickpeas.md
  docs/rice/__TOC.md
  docs/rice/charred_vegetables_and_pho_rice.md
  docs/rice/rice_with_mushrooms_kale_pumpkin_and_egg.md
Due: none

build: update dependencies
  poetry.lock
Due: lock_deps

build: copier-auto-update
  .copier-answers.yml
  .pre-commit-config.yaml
  .ruff.toml
  pyproject.toml
Due: lock_deps

fix: ignore linting warning
  recipes/formatter.py
  recipes/tasks.py
Due: doit_test

fix: correct links to Garam Masala recipe
  docs/pasta/__TOC.md
  docs/sides/spices_garam_masala.md
  docs/soup/johns_chili.md
  docs/soup/slow_cooker_coconut_lentil_curry.md
  docs/veggie/cauliflower_and_chickpea_masala.md
  docs/veggie/chana_masala.md
Due: none

docs: improve Dragon Noodles recipe
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs/pasta/__TOC.md
  docs/pasta/dragon_noodles.md
Due: none

refactor: remove Chicken Shawarma
  docs/poultry/__TOC.md
  docs/poultry/chicken_shawarma.md
Due: none

build: use only Python 3.12
  .calcipy_packaging.lock
  .copier-answers.yml
  .tool-versions
  docs-code/docs/CHANGELOG.md
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs-code/docs/DEVELOPER_GUIDE.md
  docs-code/modules/recipes/classes.svg
  docs-code/modules/recipes/packages.svg
  poetry.lock
  pyproject.toml
Due: lock_deps

revert: restore Curried Chickpeas from 42aa33a5156ff447363f99491340985224f8d15a
  docs/veggie/__TOC.md
  docs/veggie/curried_chickpeas.md
Due: none

docs: merge chickpea/masala recipes
  docs/veggie/__TOC.md
  docs/veggie/cauliflower_and_chickpea_masala.md
  docs/veggie/chana_masala.jpeg
  docs/veggie/chana_masala.md
  docs/veggie/curried_chickpeas.md
Due: none

docs: add image for Chickpea Tikka Masala
  docs/veggie/__TOC.md
  docs/veggie/chickpea_tikka_masala.jpeg
  docs/veggie/chickpea_tikka_masala.md
Due: none

build: copier-auto-update
  .copier-answers.yml
  .pre-commit-config.yaml
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs-code/docs/DEVELOPER_GUIDE.md
  docs/veggie/chickpea_tikka_masala.md
Due: none

ci: fix Python 3.12 upgrade with copier-update
  .flake8
  .github/workflows/ci_pipeline.yml
  .github/workflows/update_docs.yml
  .mypy.ini
  .pylintrc
  .ruff.toml
Due: none

docs: update mushroom pasta recipe
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs/pasta/__TOC.md
  docs/pasta/classic_pasta_and_mushrooms.jpeg
  docs/pasta/classic_pasta_and_mushrooms.md
Due: none

build: copier-auto-update
  .copier-answers.yml
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/update_docs.yml
Due: none

docs: update enchiladas
  docs/poultry/enchiladas.md
Due: none

refactor: merge rice into meals
  docs/meals/__TOC.md
  docs/meals/basmati_rice.jpg
  docs/meals/basmati_rice.md
  docs/meals/fried_rice.jpeg
  docs/meals/fried_rice.md
  docs/meals/kung_pao_roasted_broccoli.jpeg
  docs/meals/kung_pao_roasted_broccoli.md
  docs/rice/__TOC.md
Due: none

refactor: merge sides into meals
  docs/meals/__TOC.md
  docs/meals/aunt_laura's_spicy_chicken_dip.jpeg
  docs/meals/aunt_laura's_spicy_chicken_dip.md
  docs/meals/bruschetta.md
  docs/meals/bruschetta_toast.jpeg
  docs/meals/emily_english_roasted_potatoes.jpeg
  docs/meals/emily_english_roasted_potatoes.md
  docs/meals/garlic_bread.jpeg
  docs/meals/garlic_bread.md
  docs/meals/garlic_rice.md
  docs/meals/hummus.jpeg
  docs/meals/hummus.md
  docs/meals/spices_garam_masala.md
  docs/sides/__TOC.md
Due: none

refactor: move poultry/seafood recipes appropriately
  docs/meals/__TOC.md
  docs/poultry/__TOC.md
  docs/poultry/aunt_laura's_spicy_chicken_dip.jpeg
  docs/poultry/aunt_laura's_spicy_chicken_dip.md
  docs/poultry/broccoli_cheddar_chicken_and_rice_casserole.jpeg
  docs/poultry/broccoli_cheddar_chicken_and_rice_casserole.md
  docs/seafood/__TOC.md
  docs/seafood/tuna_melts.jpg
  docs/seafood/tuna_melts.md
Due: none

docs: fix links
  docs/meals/chickpea_tikka_masala.md
  docs/pasta/one_pot_orzo_with_sausage_spinach_and_corn.md
  docs/soup/slow_cooker_coconut_lentil_curry.md
Due: none

ci: update dependencies and run tasks
  .calcipy_packaging.lock
  docs-code/docs/CHANGELOG.md
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs-code/docs/DEVELOPER_GUIDE.md
  poetry.lock
Due: lock_deps

docs: update Baked Potato recipe
  docs/meals/__TOC.md
  docs/meals/baked_potatoes.md
Due: none

ci: downgrade cz until changelog issue resolved
  poetry.lock
  pyproject.toml
Due: lock_deps

Revert "ci: downgrade cz until changelog issue resolved"
  poetry.lock
  pyproject.toml
Due: lock_deps

ci: use patched cz-legacy version
  poetry.lock
  pyproject.toml
Due: lock_deps

build: update dependencies
  poetry.lock
  pyproject.toml
Due: lock_deps

ci: update cz-legacy to fix missing dependency
  .pre-commit-config.yaml
Due: none
