Repository KyleKing/recipes: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit_test

.pre-commit-config.yaml:

# Common commands:
# poetry run pre-commit install
# poetry run pre-commit run --hook-stage commit --all-files
# poetry run pre-commit run --hook-stage push --all-files
# poetry run doit run pre_commit_hooks
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: copier-forbidden-files
        name: copier_forbidden_files
        entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
        language: fail
        files: "\\.rej$"
      - id: lock_deps
        name: lock_dependencies
        # FYI: Won't work in Tower. Submitted Support request #90767
        entry: poetry lock
        language: system
        files: ^(pyproject.toml|poetry.lock)$
        stages: [commit]
        pass_filenames: false
      - id: doit_test
        name: doit_test
        entry: poetry run doit run test
        language: system
        types: [python]
        stages: [push]
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
        args: ['--unsafe']
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: ['--remove']
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: pretty-format-json
        args: ['--autofix']
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.17.6
    hooks:
      - id: commitizen
        additional_dependencies: ['cz_legacy']
        stages: [commit-msg]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.16.0
    hooks:
      - id: pyupgrade
        stages: [push]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.1.0
    hooks:
      - id: add-trailing-comma
        stages: [push]

build: dependency update
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps

fix: restore Python 3.9-safe type annotations
  recipes/formatter.py
  recipes/tasks.py
Due: doit_test

fix: sync pre-commit and delay PEP585
  .pre-commit-config.yaml
  recipes/formatter.py
  recipes/tasks.py
Due: doit_test

feat: minor cleanup and new photos
  docs/drinks/coffee.md
  docs/meals/grilled_cheese.jpeg
  docs/meals/grilled_cheese.md
  docs/pasta/leftover_ricotta_pasta.md
  docs/seafood/baked-fish.md
  docs/veggie/chili_lime_black_bean_tacos.jpeg
  docs/veggie/chili_lime_black_bean_tacos.md
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/modules/recipes/classes.svg
  docs/z_dev/modules/recipes/packages.svg
  recipes/formatter.py
Due: doit_test

feat: new fish and carbonara recipes!
  docs/pasta/spaghetti_carbonara.jpeg
  docs/pasta/spaghetti_carbonara.md
  docs/rice/basmati_rice.md
  docs/seafood/baked-fish-and-asparagus.jpeg
  docs/seafood/baked-fish-and-asparagus.md
  docs/seafood/baked-fish.md
  docs/seafood/chef_johns_salmon.jpeg
  docs/seafood/chef_johns_salmon.md
Due: none

fix: the earlier PEP585 issues were an error with poetry using 3.8 and not 3.9
  .pre-commit-config.yaml
  docs/meals/__TOC.md
  docs/pasta/__TOC.md
  docs/seafood/__TOC.md
  docs/veggie/__TOC.md
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  recipes/__init__.py
  recipes/formatter.py
  recipes/tasks.py
Due: doit_test

build: pre-commit autoupdate isn't working. Should be v1.0.1
  .pre-commit-config.yaml
Due: none

bump: version 0.2.0 → 0.3.0
  appveyor.yml
  docs/z_dev/docs/CHANGELOG.md
  pyproject.toml
  recipes/__init__.py
Due: lock_deps, doit_test

build: update calcipy
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/modules/recipes/classes.svg
  poetry.lock
Due: lock_deps

Deployed b120edf6 with MkDocs version: 1.2.3
  search/search_index.json
  sitemap.xml.gz
  z_dev/docs/CODE_TAG_SUMMARY/index.html
  z_dev/modules/recipes/classes.svg
Due: none

docs: fix links for fish recipes
  docs/seafood/baked-fish.md
Due: none

Deployed 1f745e40 with MkDocs version: 1.2.3
  seafood/baked-fish/index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

feat: new Whiskey Sour recipe
  docs/drinks/__TOC.md
  docs/drinks/winter_whiskey_sour.md
Due: none

build: regular update
  .calcipy_packaging.lock
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  poetry.lock
  recipes/formatter.py
Due: lock_deps, doit_test

feat: standardize cookie recipes
  docs/dessert/chocolate_chip_cookies.md
  docs/dessert/chocolate_chip_oatmeal_cookies.md
  docs/dessert/oatmeal_raisin_cookies.md
Due: none

docs: properly fix links
  docs/bread/no_knead_focaccia.md
  docs/seafood/baked-fish.md
Due: none

feat: initial hummus recipe
  docs/veggie/__TOC.md
  docs/veggie/hummus.md
Due: none

build: re-run doit
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  requirements.txt
Due: none

docs: fix link to Chef's John's Salmon
  docs/seafood/baked-fish.md
Due: none

docs: tweak Ginger Broccoli and Noodle Recipe
  docs/veggie/__TOC.md
  docs/veggie/ginger_orange_broccoli_and_noodles.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
Due: none

Deployed 55c762c6 with MkDocs version: 1.2.3
  seafood/baked-fish/index.html
  sitemap.xml.gz
Due: none

Deployed a788039a with MkDocs version: 1.2.3
  search/search_index.json
  sitemap.xml.gz
  veggie/__TOC/index.html
  veggie/ginger_orange_broccoli_and_noodles/index.html
  z_dev/docs/CHANGELOG/index.html
  z_dev/docs/CODE_TAG_SUMMARY/index.html
  z_dev/docs/DEVELOPER_GUIDE/index.html
Due: none

docs: update hummus, pizza, and chickpea toast
  docs/pizza/pizza.md
  docs/veggie/chickpea_salad_toasts_with_poached_egg.md
  docs/veggie/hummus.md
Due: none

docs: add Hummus image
  docs/pizza/pizza.md
  docs/sides/__TOC.md
  docs/sides/hummus.jpeg
  docs/sides/hummus.md
  docs/veggie/__TOC.md
  docs/veggie/chickpea_salad_toasts_with_poached_egg.md
Due: none

docs: merge separate notes
  _recipe_template.md
  docs/seafood/baked-fish-and-asparagus.md
  docs/seafood/baked-fish.md
  docs/veggie/ginger_orange_broccoli_and_noodles.md
Due: none

build: update calcipy
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  appveyor.yml
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  recipes/__init__.py
  requirements.txt
Due: lock_deps, doit_test

docs: minor fixes from Alex
  docs/meals/broccoli_cheddar_chicken_and_rice_casserole.md
  docs/soup/__TOC.md
  docs/soup/vegetable_tortilla_stew.md
Due: none

docs: update casserole recipe
  docs/meals/__TOC.md
  docs/meals/broccoli_cheddar_chicken_and_rice_casserole.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
Due: none

build: update calcipy
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps

docs: add WIP Whiskey Recipe
  docs/drinks/strawberry_whiskey_smash.md
Due: none

build: update copier
  .copier-answers.yml
  .github/labels.yml
  .gitignore
  .pre-commit-config.yaml
  .pylintrc
  .pyup.yml
  .sourcery.yaml
  README.md
  appveyor.yml
  docs/z_dev/CNAME
  docs/z_dev/_javascript/tables.js
  docs/z_dev/adr/NNN-Template.md
  docs/z_dev/adr/README.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  mkdocs.yml
  pyproject.toml
  scripts/check_imports.py
Due: lock_deps, doit_test

docs: add note on the cocktaildb
  docs/drinks/pina_colada.md
  docs/drinks/spice_75.md
Due: none
