Repository KyleKing/recipes: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit_test

.pre-commit-config.yaml:

# Common commands:
# poetry run pre-commit install
# poetry run pre-commit run --hook-stage commit --all-files
# poetry run pre-commit run --hook-stage push --all-files
# poetry run doit run pre_commit_hooks
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: copier-forbidden-files
        name: copier_forbidden_files
        entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
        language: fail
        files: "\\.rej$"
      - id: lock_deps
        name: lock_dependencies
        # FYI: Won't work in Tower. Submitted Support request #90767
        entry: poetry lock
        language: system
        files: ^(pyproject.toml|poetry.lock)$
        stages: [commit]
        pass_filenames: false
      - id: doit_test
        name: doit_test
        entry: poetry run doit run test
        language: system
        types: [python]
        stages: [push]
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-yaml
        args: ['--unsafe']
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args: ['--remove']
      - id: forbid-new-submodules
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: pretty-format-json
        args: ['--autofix']
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.17.6
    hooks:
      - id: commitizen
        additional_dependencies: ['cz_legacy']
        stages: [commit-msg]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.16.0
    hooks:
      - id: pyupgrade
        stages: [push]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.1.0
    hooks:
      - id: add-trailing-comma
        stages: [push]

feat: replace recipe-formatting with calcipy
  _recipe_template.md
  docs/z_dev/README.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  dodo.py
  main.py
  recipes/formatter.py
  recipes/tasks.py
Due: doit_test

docs: update ingredient list for cajun rice
  docs/rice/spicy_cajun_sausage_and_rice.md
Due: none

feat: implement formatter for TOC based on calcipy
  docs/z_dev/docs/CHANGELOG.md
  mkdocs.yml
  poetry.lock
  recipes/formatter.py
Due: lock_deps, doit_test

fix: ../ url from TOC is no longer necessary
  recipes/formatter.py
Due: doit_test

build: update calcipy
  .calcipy_packaging.lock
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  recipes/formatter.py
Due: doit_test

docs: write table of contents
  docs/bread/__TOC.md
  docs/breakfast/__TOC.md
  docs/dessert/__TOC.md
  docs/drinks/__TOC.md
  docs/ice_cream/__TOC.md
  docs/meals/__TOC.md
  docs/pasta/__TOC.md
  docs/pizza/__TOC.md
  docs/poultry/__TOC.md
  docs/rice/__TOC.md
  docs/sauce/__TOC.md
  docs/seafood/__TOC.md
  docs/sides/__TOC.md
  docs/soup/__TOC.md
  docs/sushi/__TOC.md
  docs/tools/__TOC.md
  docs/veggie/__TOC.md
Due: none

build: fix error in AppVeyor command
  appveyor.yml
Due: none

build: add zip artifacts from calcipy
  appveyor.yml
Due: none

docs: add rice krispies
  docs/dessert/__TOC.md
  docs/dessert/caramel_rice_krispies.jpeg
  docs/dessert/caramel_rice_krispies.md
  docs/veggie/falafel_pitas_with_cilantro_cashew_sauce.md
Due: none

docs: minor recipe cleanup
  .pre-commit-config.yaml
  docs/dessert/biscotti.md
  docs/pizza/pizza.md
  docs/poultry/chicken_cacciatore.md
  docs/poultry/chicken_tacos.md
  docs/soup/kale_sausage_white_bean_soup_with_parm_toasts.md
  docs/soup/parmesan_minestrone.md
  docs/veggie/roasted_vegetables.md
Due: none

docs: update pretzel recipe
  docs/bread/pretzels.jpeg
  docs/bread/pretzels.md
  docs/sides/pretzels.md
Due: none

docs: remove unmade recipes
  docs/pasta/black_bean_pasta_bowl.md
  docs/pizza/baguette_pesto_chicken_pizza.md
  docs/pizza/charred_broccoli_pizza.md
  docs/poultry/mediterranean_chicken.md
  docs/poultry/sriracha_chicken.md
Due: none

docs: update Bruschetta and stars/TOC
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  appveyor.yml
  docs/bread/__TOC.md
  docs/bread/pretzels.md
  docs/dessert/__TOC.md
  docs/dessert/biscotti.md
  docs/pasta/__TOC.md
  docs/pizza/__TOC.md
  docs/pizza/pizza.md
  docs/poultry/__TOC.md
  docs/poultry/chicken_cacciatore.md
  docs/poultry/chicken_tacos.md
  docs/sides/__TOC.md
  docs/sides/bruschetta.md
  docs/sides/bruschetta_toast.jpg
  docs/soup/__TOC.md
  docs/soup/kale_sausage_white_bean_soup_with_parm_toasts.md
  docs/soup/parmesan_minestrone.md
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/modules/recipes/classes.svg
  docs/z_dev/modules/recipes/packages.svg
  poetry.lock
Due: lock_deps

fix: drop suffix from TOC table
  docs/bread/__TOC.md
  docs/breakfast/__TOC.md
  docs/dessert/__TOC.md
  docs/drinks/__TOC.md
  docs/ice_cream/__TOC.md
  docs/meals/__TOC.md
  docs/pasta/__TOC.md
  docs/pizza/__TOC.md
  docs/poultry/__TOC.md
  docs/rice/__TOC.md
  docs/sauce/__TOC.md
  docs/seafood/__TOC.md
  docs/sides/__TOC.md
  docs/soup/__TOC.md
  docs/sushi/__TOC.md
  docs/tools/__TOC.md
  docs/veggie/__TOC.md
  mkdocs.yml
  recipes/formatter.py
Due: doit_test

docs: update bare links
  docs/dessert/blueberry_sour_cream_muffins.md
  docs/dessert/oatmeal_balls.md
  docs/drinks/beer.md
  docs/rice/fried_rice.md
  docs/sushi/california_rolls.md
  docs/sushi/onigiri.md
  docs/tools/dishwasher.md
  docs/veggie/vegetable_wraps.md
Due: none

docs: add banana rolls and update biscotti
  docs/bread/__TOC.md
  docs/bread/banana_rolls.jpeg
  docs/bread/banana_rolls.md
  docs/dessert/biscotti.md
Due: none

docs: chicken tacos and frosting updates
  docs/dessert/__TOC.md
  docs/dessert/chocolate_frosting_recipe.md
  docs/poultry/__TOC.md
  docs/poultry/chicken_instant_pot.md
  docs/poultry/chicken_tacos.jpeg
  docs/poultry/chicken_tacos.md
Due: none

docs: update new favorite gnocchi and ok-bruschetta
  docs/pasta/gnocchi_skillet_with_chicken_sausage_and_tomatoes.jpeg
  docs/pasta/gnocchi_skillet_with_chicken_sausage_and_tomatoes.md
  docs/sides/bruschetta.md
  docs/sides/bruschetta_toast-baguette.jpeg
  docs/sides/bruschetta_toast-egg.jpg
  docs/sides/bruschetta_toast.jpeg
  docs/veggie/__TOC.md
  docs/veggie/chickpea_salad_toasts_with_poached_egg.jpeg
  docs/veggie/chickpea_salad_toasts_with_poached_egg.md
Due: none

feat: add Garlic Bread
  docs/drinks/coffee.md
  docs/pasta/__TOC.md
  docs/sides/__TOC.md
  docs/sides/garlic_bread.jpeg
  docs/sides/garlic_bread.md
  isort.cfg
Due: none

refactor: update pizza
  docs/pizza/pizza.md
Due: none

feat: add beach rice and doit updates
  .pre-commit-config.yaml
  docs/rice/mexican_rice.md
  docs/veggie/salad.md
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/modules/recipes/classes.svg
  docs/z_dev/modules/recipes/packages.svg
Due: none

feat: beach enchiladas
  docs/poultry/__TOC.md
  docs/poultry/sour_cream_chicken_enchiladas.md
  docs/rice/__TOC.md
  docs/rice/mexican_rice.md
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
Due: none

refactor: minor update
  docs/poultry/enchiladas.md
  docs/poultry/sour_cream_chicken_enchiladas.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
Due: none

build: update dependencies
  poetry.lock
  pyproject.toml
Due: lock_deps

build: copier update
  recipes/__init__.py
Due: doit_test

Deployed 03a2def with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

build: lock requirements
  requirements.txt
Due: none

Deployed 58e16f3 with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

Deployed 8ed32fd with MkDocs version: 1.2.3
  sitemap.xml
  sitemap.xml.gz
Due: none

Deployed d4b69cc with MkDocs version: 1.2.3
  sitemap.xml.gz
Due: none

taco aloo
  docs/veggie/chili_lime_black_bean_tacos.md
Due: none

build: ignore DS_Store
  .gitignore
  docs/pasta/leftover_ricotta_pasta.jpg
  docs/pasta/leftover_ricotta_pasta.md
Due: none
