Repository KyleKing/recipes: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit_test

copier-forbidden-files:
  name: copier_forbidden_files
  entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
  language: fail

lock_deps:
  name: lock_dependencies
  entry: poetry lock
  language: system
  stages:
  - commit
  pass_filenames: false

doit_test:
  name: doit_test
  entry: poetry run doit run test
  language: system
  stages:
  - push
  pass_filenames: false

feat: add markdown autoformatter
  .pre-commit-config.yaml
  recipes/formatter.py
Due: doit_test

refactor: apply mdformat
  docs/bread/pretzels.md
  docs/breakfast/hash.md
  docs/breakfast/oatmeal.md
  docs/breakfast/omelette.md
  docs/breakfast/shakshuka.md
  docs/breakfast/waffles.md
  docs/dessert/biscotti.md
  docs/dessert/chocolatines.md
  docs/dessert/popcorn.md
  docs/drinks/beer.md
  docs/drinks/coffee.md
  docs/drinks/coquito.md
  docs/drinks/eggnog.md
  docs/drinks/frogroni.md
  docs/drinks/grasshopper.md
  docs/drinks/margarita.md
  docs/drinks/mock-a-rita.md
  docs/drinks/sidecar.md
  docs/drinks/watermelon_margarita.md
  docs/drinks/wine.md
  docs/meals/burgers.md
  docs/meals/gyros.md
  docs/meals/lasagna.md
  docs/meals/quesadillas.md
  docs/pizza/pizza.md
  docs/poultry/chicken.md
  docs/poultry/enchiladas.md
  docs/poultry/fajitas.md
  docs/seafood/baked-fish-and-asparagus.md
  docs/sides/bacon.md
  docs/sides/bruschetta.md
  docs/sides/cheeses.md
  docs/sides/hummus.md
  docs/sushi/onigiri.md
  docs/tools/substitutions.md
  docs/veggie/guacamole.md
  docs/veggie/salad.md
Due: none

refactor: Python type annotations from beartype
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  recipes/__init__.py
  recipes/formatter.py
Due: doit_test

fix: admonitions are incorrectly modified
  docs/dessert/chocolatines.md
  docs/poultry/chicken.md
  docs/seafood/baked-fish.md
  recipes/formatter.py
Due: doit_test

fix: admonitions should be four spaces
  docs/dessert/chocolatines.md
  docs/poultry/chicken.md
  docs/seafood/baked-fish.md
Due: none

build: add mdformat plugins and bump min Python
  .pre-commit-config.yaml
  .sourcery.yaml
Due: none

build: copier update
  .copier-answers.yml
  .pyup.yml
Due: none

build: copier update
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  docs/z_dev/adr/NNN-Template.md
  docs/z_dev/docs/CODE_OF_CONDUCT.md
  docs/z_dev/docs/CONTRIBUTING.md
  docs/z_dev/docs/STYLE_GUIDE.md
Due: none

feat: copier update. Add Github Actions
  .copier-answers.yml
  .deepsource.toml
  .github/ABOUT.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/labels.yml
  .github/workflows/update_docs.yml
  .pre-commit-config.yaml
  .sourcery.yaml
  appveyor.yml
  docs/z_dev/docs/DEVELOPER_GUIDE.md
Due: none

test: update Pythons to 3.9
  .github/workflows/ci_pipeline.yml
  .github/workflows/update_docs.yml
  pyproject.toml
Due: lock_deps

build: update calcipy
  .calcipy_packaging.lock
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  poetry.lock
  requirements.txt
Due: lock_deps

fix: suppress mdformat errors on admonitions
  .github/actions/setup/action.yml
  docs/dessert/chocolatines.md
  docs/poultry/chicken.md
  docs/seafood/baked-fish.md
Due: none

feat: Add Spicy Salmon Bowl recipe
  .pre-commit-config.yaml
  docs/seafood/__TOC.md
  docs/seafood/spicy_salmon_roll_bowls.md
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
Due: lock_deps

build: copier update
  .copier-answers.yml
  .github/actions/setup/action.yml
  .pre-commit-config.yaml
  tests/test_zz_recipes.py
Due: doit_test

docs: remove salt from salad toasts
  docs/veggie/chickpea_salad_toasts_with_poached_egg.md
Due: none

docs: add Peanut Butter Cookies and Burrito Bowl
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  docs/dessert/__TOC.md
  docs/dessert/peanut_butter_cookies.jpeg
  docs/dessert/peanut_butter_cookies.md
  docs/veggie/__TOC.md
  docs/veggie/cauliflower_lime_burrito_bowl.jpeg
  docs/veggie/cauliflower_lime_burrito_bowl.md
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/modules/recipes/classes.svg
  docs/z_dev/modules/recipes/packages.svg
  poetry.lock
Due: lock_deps

refactor: try to fix type errors
  recipes/formatter.py
Due: doit_test

docs: new recipes!
  docs/poultry/enchiladas.md
  docs/sauce/__TOC.md
  docs/sauce/gremolata.md
  docs/soup/__TOC.md
  docs/soup/instant_pot_minestrone.md
  docs/veggie/__TOC.md
  docs/veggie/cauliflower_lime_burrito_bowl.md
  docs/veggie/instant_pot_stuffed_bell_peppers.md
  docs/veggie/instant_pot_vegetarian_chili.md
Due: none

docs: update Stuffed Pepper recipe
  docs/veggie/__TOC.md
  docs/veggie/instant_pot_stuffed_bell_peppers.jpeg
  docs/veggie/instant_pot_stuffed_bell_peppers.md
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/modules/recipes/classes.svg
Due: none

docs: Dairy Free IC & Lentil Soup
  .pre-commit-config.yaml
  docs/ice_cream/dairy_free_ice_cream.md
  docs/soup/lentil_soup.md
Due: none

docs: add Chocolate Sorbet
  docs/dessert/peanut_butter_cookies.md
  docs/ice_cream/chocolate_sorbet.md
Due: none

docs: Cauliflower and Chickpea Masala
  docs/veggie/cauliflower_and_chickpea_masala.md
Due: none

docs: WaPo Falafel
  docs/veggie/crispy_herbed_falafel.md
Due: none

build: deploy on any recipe change
  .github/workflows/update_docs.yml
Due: none

build: limit CI Pipeline to to Python changes
  .github/workflows/ci_pipeline.yml
Due: none

build: run labeler only on relevant changes
  .github/workflows/labels.yml
Due: none

build: temporarily turn off pre-commit mdformat
  .pre-commit-config.yaml
Due: none

build: bump copier version
  .copier-answers.yml
Due: none

build: re-run poetry doit
  .pre-commit-config.yaml
  docs/ice_cream/__TOC.md
  docs/soup/__TOC.md
  docs/veggie/__TOC.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/modules/recipes/classes.svg
  docs/z_dev/modules/recipes/packages.svg
  poetry.lock
Due: lock_deps

build: bump calcipy and regenerate code tags
  .calcipy_packaging.lock
  docs/dessert/chocolate-pb-mm_balls.md
  docs/dessert/edible_cookie_dough_ben_and_jerrys.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
Due: lock_deps

build: bump dependencies
  poetry.lock
  pyproject.toml
  requirements.txt
Due: lock_deps

build: copier update
  .copier-answers.yml
  .flake8
  .github/ABOUT.md
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/labels.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
  .gitignore
  .pre-commit-config.yaml
  docs/z_dev/adr/README.md
  dodo.py
  noxfile.py
Due: doit_test

feat: add tomato butter noodles
  docs/pasta/__TOC.md
  docs/pasta/dragon_noodles.md
  docs/pasta/tomato_butter_pasta.jpeg
  docs/pasta/tomato_butter_pasta.md
  docs/veggie/crispy_herbed_falafel.md
  poetry.lock
Due: lock_deps

build: run prdc
  .calcipy_packaging.lock
  .pre-commit-config.yaml
  docs/dessert/__TOC.md
  docs/pasta/__TOC.md
  docs/pasta/tomato_butter_pasta.md
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/modules/recipes/classes.svg
  docs/z_dev/modules/recipes/packages.svg
Due: none

build: add alias
  __recipes-todo__ alias
Due: none

build: copier update
  .copier-answers.yml
  .flake8
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
  .pylintrc
Due: none

feat: add Gnocchi Bake
  .pre-commit-config.yaml
  docs/pasta/__TOC.md
  docs/pasta/tuscan_butter_gnocchi.jpg
  docs/pasta/tuscan_butter_gnocchi.md
  docs/sides/__TOC.md
  docs/sides/favorites_of_alex.jpg
  docs/sides/favorites_of_alex.md
  docs/sides/hummus.md
  docs/veggie/__TOC.md
  docs/veggie/crispy_herbed_falafel.jpg
  docs/veggie/crispy_herbed_falafel.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
Due: none

Path conditions:
  copier-forbidden-files: any of: \.rej$
  lock_deps: any of: ^(pyproject.toml|poetry.lock)$
  doit_test: any of: \.py$
