Repository KyleKing/recipes: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit_test

copier-forbidden-files:
  name: copier_forbidden_files
  entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
  language: fail

lock_deps:
  name: lock_dependencies
  entry: poetry lock
  language: system
  stages:
  - commit
  pass_filenames: false

doit_test:
  name: doit_test
  entry: poetry run doit run test
  language: system
  stages:
  - push
  pass_filenames: false

docs: fix last two admonitions
  docs/drinks/spiked_cider.md
  docs/seafood/baked-fish.md
Due: none

docs: fix software typo
  docs/veggie/roasted_vegetables.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
Due: none

refactor: use patched deploy from calcipy
  .github/workflows/update_docs.yml
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  recipes/tasks.py
Due: lock_deps, doit_test

refactor: remove duplicate beartype wrapper
  .flake8
  recipes/tasks.py
Due: doit_test

ci: fix failing typecheck
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  recipes/formatter.py
  recipes/tasks.py
Due: lock_deps, doit_test

ci: add unit tests to pass coverage check
  .calcipy.json
  tests/conftest.py
  tests/test_tasks.py
Due: doit_test

docs: udpate Chicken Stew
  docs/soup/spring_chicken_stew.md
Due: none

build: copier update
  .copier-answers.yml
  .github/actions/setup/action.yml
  .github/workflows/update_docs.yml
  .github/workflows/upgrade-dependencies.yml
  .pre-commit-config.yaml
Due: none

docs: update Chicken Stew recipe and documentation
  .calcipy_packaging.lock
  docs/soup/__TOC.md
  docs/soup/spring_chicken_stew.md
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/modules/recipes/classes.svg
  docs/z_dev/modules/recipes/packages.svg
  poetry.lock
  pyproject.toml
Due: lock_deps

[create-pull-request] automated change
  .pre-commit-config.yaml
  poetry.lock
Due: lock_deps

fix: bump minimum pymdown dependency
  poetry.lock
  pyproject.toml
  recipes/tasks.py
Due: lock_deps, doit_test

build: update copier template
  .copier-answers.yml
  .pylintrc
Due: none

fix: update cz-legacy for breaking changes
  .calcipy_packaging.lock
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/modules/recipes/classes.svg
  docs/z_dev/modules/recipes/packages.svg
  poetry.lock
  pyproject.toml
Due: lock_deps

fix: upgrade with copier
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/upgrade-dependencies.yml
  .pre-commit-config.yaml
  .ruff.toml
  docs/z_dev/docs/STYLE_GUIDE.md
  poetry.lock
  pyproject.toml
Due: lock_deps

ci: fix linting error
  recipes/formatter.py
Due: doit_test

refactor: run prettier
  .calcipy.json
  docs/_javascript/hider.js
  docs/_theme/main.html
Due: none

build: run main task
  .calcipy_packaging.lock
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
Due: none

docs: minor recipe fixes
  docs/dessert/skillet_peanut_butter_chocolate_chip_blondies.md
  docs/pasta/gnocchi_skillet_with_chicken_sausage_and_tomatoes.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
Due: none

docs: add refried burritos and sweet potato bowls
  docs/veggie/__TOC.md
  docs/veggie/refried_bean_burritos.jpeg
  docs/veggie/refried_bean_burritos.md
  docs/veggie/sweet_potato_and_black_bean_quinoa_bowls.jpeg
  docs/veggie/sweet_potato_and_black_bean_quinoa_bowls.md
Due: none

build: add live edit plugin for local development
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: lock_deps

refactor: hide the right TOC sidebar
  mkdocs.yml
Due: none

feat: add recipes from Chef's Fridges and Crispy Tofu from WaPo
  .calcipy_packaging.lock
  docs/breakfast/__TOC.md
  docs/breakfast/chia_seed_pudding.md
  docs/meals/__TOC.md
  docs/meals/muffuletta_sandwich.md
  docs/meals/smoked_turkey_reuben.md
  docs/pasta/__TOC.md
  docs/pasta/butternut_squash_gnocchi_with_chickpeas.md
  docs/rice/__TOC.md
  docs/rice/charred_vegetables_and_pho_rice.md
  docs/rice/rice_with_mushrooms_kale_pumpkin_and_egg.md
  docs/veggie/__TOC.md
  docs/veggie/crispy_tofu_and_zucchini_stir_fry.md
  docs/veggie/sweet_potato_and_black_bean_quinoa_bowls.md
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
Due: none

docs: update code tags
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
Due: none

refactor: convert fractions to ascii and remove gremlins
  docs/breakfast/chia_seed_pudding.md
  docs/meals/muffuletta_sandwich.md
  docs/meals/smoked_turkey_reuben.md
  docs/pasta/butternut_squash_gnocchi_with_chickpeas.md
  docs/rice/charred_vegetables_and_pho_rice.md
  docs/rice/rice_with_mushrooms_kale_pumpkin_and_egg.md
  docs/sides/emily_english_roasted_potatoes.md
  docs/soup/kale_sausage_white_bean_soup_with_parm_toasts.md
  docs/veggie/green_chile_mac.md
  docs/veggie/karens_roasted_veggie_bowls.md
Due: none

docs: add baked tofu, asparagus pasta, and a rice soup
  docs/pasta/__TOC.md
  docs/pasta/asparagus_pasta.jpeg
  docs/pasta/asparagus_pasta.md
  docs/soup/__TOC.md
  docs/soup/cashew_curry_beef_with_rice_noodles.md
  docs/veggie/__TOC.md
  docs/veggie/baked_tofu_with_peanut_sauce_and_coconut_lime_rice.jpeg
  docs/veggie/baked_tofu_with_peanut_sauce_and_coconut_lime_rice.md
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
Due: none

docs: the secrets to fluffy cookies
  docs/dessert/chocolate_chip_cookies.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
Due: none

docs: add Sausage, Corn, and Orzo meal
  docs/meals/broccoli_cheddar_chicken_and_rice_casserole.jpeg
  docs/meals/broccoli_cheddar_chicken_and_rice_casserole.md
  docs/meals/one_pot_orzo_with_sausage_spinach_and_corn.md
Due: none

docs: add shrimp and rice noodles
  docs/pasta/dragon_noodles.md
  docs/seafood/garlic_lime_shrimp_rice_noodles.md
  docs/soup/cashew_curry_beef_with_rice_noodles.md
Due: none

docs: add Chicken Salad Sandwich
  docs/poultry/chicken_salad_sandwich.md
Due: none

docs: update Code Tags
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
Due: none

refactor: remove the mufuletta sanwich
  docs/meals/__TOC.md
  docs/meals/muffuletta_sandwich.md
  docs/pasta/dragon_noodles.md
  docs/poultry/__TOC.md
  docs/seafood/__TOC.md
  docs/z_dev/modules/recipes/classes.svg
  docs/z_dev/modules/recipes/packages.svg
Due: none

refactor: run copier update
  .calcipy_packaging.lock
  .copier-answers.yml
  .editorconfig
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/update_docs.yml
  .pre-commit-config.yaml
  .ruff.toml
  .yamllint.yaml
  docs/_javascript/hider.js
  docs/z_dev/README.md
  docs/z_dev/_javascript/tables.js
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  noxfile.py
  poetry.lock
  pyproject.toml
  recipes/scripts.py
Due: lock_deps, doit_test

ci: add format-recipes to pre-commit
  .pre-commit-config.yaml
Due: none

refactor: remove redundant 3.11 python constraint
  .copier-answers.yml
  .tool-versions
  poetry.lock
  pyproject.toml
Due: lock_deps

docs: add the one pot orzo image
  docs/meals/__TOC.md
  docs/pasta/__TOC.md
  docs/pasta/one_pot_orzo_with_sausage_spinach_and_corn.jpeg
  docs/pasta/one_pot_orzo_with_sausage_spinach_and_corn.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
Due: none

docs: add Garlic-Lime Shrimp photo
  docs/seafood/__TOC.md
  docs/seafood/garlic_lime_shrimp_rice_noodles.jpeg
  docs/seafood/garlic_lime_shrimp_rice_noodles.md
Due: none

feat: experiment with beartype_this_package
  docs/z_dev/docs/CHANGELOG.md
  poetry.lock
  pyproject.toml
  recipes/__init__.py
Due: lock_deps, doit_test

fix: use the new ignore_patterns configuration
  .calcipy.json
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
Due: none

refactor: use a function for the global beartype
  recipes/__init__.py
Due: doit_test

Path conditions:
  copier-forbidden-files: any of: \.rej$
  lock_deps: any of: ^(pyproject.toml|poetry.lock)$
  doit_test: any of: \.py$
