Repository KyleKing/recipes: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit_test

copier-forbidden-files:
  name: copier_forbidden_files
  entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
  language: fail

lock_deps:
  name: lock_dependencies
  entry: poetry lock
  language: system
  stages:
  - commit
  pass_filenames: false

doit_test:
  name: doit_test
  entry: poetry run doit run test
  language: system
  stages:
  - push
  pass_filenames: false

build: update dependencies
  docs-code/gen_ref_nav.py
  poetry.lock
  pyproject.toml
Due: lock_deps, doit_test

docs: use consistent underscores
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs-code/docs/DEVELOPER_GUIDE.md
  docs/meals/__TOC.md
  docs/meals/oven_baked_sausage.md
  docs/pasta/sausage_and_mushroom_penne_pasta.md
Due: none

docs: tweak spicy salmon bowl recipe
  docs/seafood/spicy_salmon_roll_bowls.md
Due: none

docs: reorganize salmon bowl and new photo
  docs/seafood/spicy_salmon_roll_bowls.jpeg
  docs/seafood/spicy_salmon_roll_bowls.md
Due: none

docs: minor updates to recent dinners
  docs/dessert/__TOC.md
  docs/dessert/chocolate_chip_oatmeal_cookies.md
  docs/pasta/__TOC.md
  docs/pasta/one_pot_orzo_with_sausage_spinach_and_corn.md
  docs/seafood/__TOC.md
  docs/seafood/spicy_salmon_roll_bowls.md
Due: none

docs: remove unmade lunch recipes
  docs/meals/chickpea_salad_toasts_with_poached_egg.jpeg
  docs/meals/chickpea_salad_toasts_with_poached_egg.md
  docs/meals/smoked_turkey_reuben.md
Due: none

docs: initial Jamie Oliver Curry
  docs/meals/__TOC.md
  docs/meals/sweet_potato_chickpea_and_spinach_curry.md
Due: none

docs: update curry recipe
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs/meals/__TOC.md
  docs/meals/sweet_potato_chickpea_and_spinach_curry.jpeg
  docs/meals/sweet_potato_chickpea_and_spinach_curry.md
Due: none

docs: add crunchwrap
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs/meals/__TOC.md
  docs/meals/crunchwrap_supreme_at_home.md
Due: none

docs: add black bean salad
  docs/meals/__TOC.md
  docs/meals/black_bean_salad.jpeg
  docs/meals/black_bean_salad.md
Due: none

docs: remove Crunchwrap
  docs/meals/crunchwrap_supreme_at_home.md
Due: none

docs: general updates and double tomato soup
  docs/meals/__TOC.md
  docs/meals/cauliflower_lime_burrito_bowl.md
  docs/meals/sweet_potato_chickpea_and_spinach_curry.md
  docs/pasta/baked_ziti.md
  docs/soup/creamy_tomato_soup.md
  docs/soup/parmesan_minestrone.md
Due: none

refactor: rename baked fish
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs/seafood/__TOC.md
  docs/seafood/fish.jpeg
  docs/seafood/fish.md
Due: none

docs: new salmon recipe
  docs/seafood/__TOC.md
  docs/seafood/pan_seared_salmon_with_lemon_garlic_butter_sauce.md
Due: none

docs: updating fish recipes
  docs/breakfast/__TOC.md
  docs/breakfast/hard_boiled_eggs.md
  docs/seafood/__TOC.md
  docs/seafood/chef_johns_salmon.md
  docs/seafood/fish.md
  docs/seafood/salmon_with_blackened_seasoning.jpeg
  docs/seafood/salmon_with_blackened_seasoning.md
  docs/seafood/salmon_with_dijon_mustard_sauce.jpeg
  docs/seafood/salmon_with_dijon_mustard_sauce.md
  docs/seafood/salmon_with_lemon_garlic_butter_sauce.md
  docs/seafood/white_fish_with_tomatoes.md
Due: none

docs: sort salmon recipes
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs/seafood/__TOC.md
  docs/seafood/salmon_baked_with_asparagus.jpeg
  docs/seafood/salmon_baked_with_asparagus.md
  docs/sushi/_rice.md
Due: none

fix: restore extra.css
  mkdocs.yml
Due: none

build: copier-auto-update
  .copier-answers.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/labels.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/labeler.yml
  .github/workflows/update_docs.yml
  .pre-commit-config.yaml
  .pylintrc
  docs-code/gen_ref_nav.py
  pyproject.toml
  tests/__init__.py
Due: lock_deps, doit_test

build: update dependencies
  .calcipy_packaging.lock
  docs-code/docs/CHANGELOG.md
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs-code/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
  recipes/formatter.py
Due: lock_deps, doit_test

feat: remove pandas dependency
  .calcipy_packaging.lock
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs-code/docs/DEVELOPER_GUIDE.md
  docs/bread/__TOC.md
  docs/breakfast/__TOC.md
  docs/dessert/__TOC.md
  docs/drinks/__TOC.md
  docs/meals/__TOC.md
  docs/pasta/__TOC.md
  docs/poultry/__TOC.md
  docs/seafood/__TOC.md
  docs/soup/__TOC.md
  docs/sushi/__TOC.md
  poetry.lock
  pyproject.toml
  recipes/formatter.py
  scripts/check_imports.py
Due: lock_deps, doit_test

refactor: adjust image size and alignment
  docs/_styles/extra.css
  docs/bread/__TOC.md
  docs/breakfast/__TOC.md
  docs/dessert/__TOC.md
  docs/drinks/__TOC.md
  docs/meals/__TOC.md
  docs/pasta/__TOC.md
  docs/poultry/__TOC.md
  docs/seafood/__TOC.md
  docs/soup/__TOC.md
  docs/sushi/__TOC.md
  recipes/formatter.py
Due: doit_test

docs: less salt!
  docs/seafood/salmon_with_blackened_seasoning.md
Due: none

refactor: larger images on mobile
  .copier-answers.yml
  docs/_styles/extra.css
Due: none

docs: add Egg Muffins
  docs/breakfast/__TOC.md
  docs/breakfast/egg_muffins.jpeg
  docs/breakfast/egg_muffins.md
  docs/pasta/baked_ziti.md
  docs/poultry/poached_chicken.md
Due: none

refactor: update brownie crinkles and add snowballs
  docs/dessert/__TOC.md
  docs/dessert/peppermint_snowball_cookies.md
  docs/dessert/toasted_marshmallow_brownie_crinkles.jpg
  docs/dessert/toasted_marshmallow_brownie_crinkles.md
Due: none

docs: Christmas cookies
  docs/dessert/__TOC.md
  docs/dessert/double_chocolate_crinkle_cookies.md
  docs/dessert/peppermint_snowball_cookies.md
  docs/dessert/toasted_marshmallow_brownie_crinkles.md
Due: none

build: copier-auto-update
  .copier-answers.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/update_docs.yml
  .pre-commit-config.yaml
  docs-code/docs/CHANGELOG.md
  docs-code/docs/DEVELOPER_GUIDE.md
  poetry.lock
  pyproject.toml
  recipes/_runtime_type_check_setup.py
Due: lock_deps, doit_test

docs: add White Chicken Chili
  docs/poultry/poached_chicken.md
  docs/soup/__TOC.md
  docs/soup/white_chicken_chili.md
Due: none

docs: add photos from dinner
  docs/dessert/__TOC.md
  docs/dessert/double_chocolate_crinkle_cookies.jpeg
  docs/dessert/double_chocolate_crinkle_cookies.md
  docs/soup/__TOC.md
  docs/soup/white_chicken_chili.jpeg
  docs/soup/white_chicken_chili.md
Due: none

docs: remove tofu and zucchini stir fry
  docs/meals/crispy_tofu_and_zucchini_stir_fry.md
Due: none

docs: add Morning Glory Muffins
  docs/breakfast/__TOC.md
  docs/breakfast/morning_glory_muffins.jpeg
  docs/breakfast/morning_glory_muffins.md
  docs/meals/__TOC.md
Due: none

feat!: begin removing mkdocs-specific files and deps
  .gitignore
  .pre-commit-config.yaml
  docs-code/CNAME
  docs-code/_javascript/tables.js
  docs-code/_styles/mkdocstrings.css
  docs-code/docs/NOTES.md
  docs-code/gen_ref_nav.py
  docs-code/modules/recipes/classes.svg
  docs-code/modules/recipes/packages.svg
  mkdocs.yml
  poetry.lock
  pyproject.toml
  recipes/formatter.py
Due: lock_deps, doit_test

refactor: copy the calcipy markdown code to start modifying
  README.md
  recipes/_calcipy_djot/__init__.py
  recipes/_calcipy_djot/markup_table.py
  recipes/_calcipy_djot/markup_writer/__init__.py
  recipes/_calcipy_djot/markup_writer/_writer.py
  recipes/formatter.py
Due: doit_test

refactor: additional removals
  docs/_javascript/hider.js
  docs/_javascript/tables.js
  docs/_styles/extra.css
  docs/_styles/mkdocstrings.css
Due: none

fix: adapt code to support djot
  _recipe_template.dj
  _recipe_template.md
  docs-code/docs/NOTES.md
  docs/dessert/chocolatines.md
  docs/meals/hummus.md
  recipes/_calcipy_djot/markup_table.py
  recipes/_calcipy_djot/markup_writer/__init__.py
  recipes/_calcipy_djot/markup_writer/_writer.py
  recipes/formatter.py
  recipes/tasks.py
Due: doit_test

fix: remove quote from filename
  docs/poultry/aunt_lauras_spicy_chicken_dip.jpeg
  docs/poultry/aunt_lauras_spicy_chicken_dip.md
Due: none

Path conditions:
  copier-forbidden-files: any of: \.rej$
  lock_deps: any of: ^(pyproject.toml|poetry.lock)$
  doit_test: any of: \.py$
