Repository KyleKing/recipes: changes, and which pre-commit hooks are due for each by the changed paths.
All: copier-forbidden-files, lock_deps, doit_test

copier-forbidden-files:
  name: copier_forbidden_files
  entry: found copier update rejection files; review them and remove them (https://copier.readthedocs.io/en/stable/updating/)
  language: fail

lock_deps:
  name: lock_dependencies
  entry: poetry lock
  language: system
  stages:
  - commit
  pass_filenames: false

doit_test:
  name: doit_test
  entry: poetry run doit run test
  language: system
  stages:
  - push
  pass_filenames: false

build: copier-auto-update
  .calcipy_packaging.lock
  .copier-answers.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/update_docs.yml
  .pre-commit-config.yaml
  .pylintrc
  .ruff.toml
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/modules/recipes/classes.svg
Due: none

ci: refactor to pass type checks
  .copier-answers.yml
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  recipes/__init__.py
Due: doit_test

build: update pre-commit for latest ctc configuration
  .pre-commit-config.yaml
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
Due: none

docs: add Brownies
  docs/dessert/__TOC.md
  docs/dessert/brownies.jpeg
  docs/dessert/brownies.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
Due: none

feat: add the Creamy Orzo Skillet
  docs/pasta/__TOC.md
  docs/pasta/creamy-orzo-chicken-skillet.jpeg
  docs/pasta/creamy-orzo-chicken-skillet.md
Due: none

refactor: another round of recipe cleanup
  docs/dessert/hot_fudge_sauce.md
  docs/dessert/molten_chocolate_cake.md
  docs/dessert/oatmeal_raisin_cookies.md
  docs/dessert/peach_blueberry_crisp.md
  docs/dessert/toasted_marshmallow_brownie_crinkles.md
  docs/drinks/__TOC.md
  docs/drinks/pina_colada.md
  docs/drinks/pina_con_lima.md
  docs/drinks/simple_syrup.md
  docs/meals/gyros.md
Due: none

docs: add placeholder for smoothies
  docs/breakfast/__TOC.md
  docs/breakfast/smoothies-table.jpg
  docs/breakfast/smoothies.md
Due: none

build: copier update
  .calcipy_packaging.lock
  .copier-answers.yml
  .pre-commit-config.yaml
  .ruff.toml
  docs/z_dev/docs/CHANGELOG.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
  docs/z_dev/modules/recipes/classes.svg
  mkdocs.yml
  poetry.lock
  pyproject.toml
  recipes/__init__.py
  recipes/scripts.py
  tests/__init__.py
Due: lock_deps, doit_test

docs: add the cherry dump cake
  docs/dessert/__TOC.md
  docs/dessert/cherry_dump_cake.jpeg
  docs/dessert/cherry_dump_cake.md
  docs/z_dev/docs/DEVELOPER_GUIDE.md
Due: none

docs: update salmon bowl, enchiladas, and eggs benedict
  docs/breakfast/eggs_benedict.md
  docs/poultry/enchiladas.md
  docs/seafood/__TOC.md
  docs/seafood/spicy_salmon_roll_bowls.jpeg
  docs/seafood/spicy_salmon_roll_bowls.md
Due: none

refactor: fix links
  .pre-commit-config.yaml
  docs/drinks/margarita.md
  docs/meals/broccoli_cheddar_chicken_and_rice_casserole.md
  docs/pasta/one_pot_orzo_with_sausage_spinach_and_corn.md
Due: none

docs: WIP on oatmeal
  docs/breakfast/__TOC.md
  docs/breakfast/oatmeal.md
  docs/z_dev/docs/CODE_TAG_SUMMARY.md
Due: none

refactor: move z_dev/ out to docs-code/
  .copier-answers.yml
  .gitignore
  docs-code/CNAME
  docs-code/README.md
  docs-code/_javascript/tables.js
  docs-code/_styles/mkdocstrings.css
  docs-code/docs/Advanced_Documentation.md
  docs-code/docs/CHANGELOG.md
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs-code/docs/DEVELOPER_GUIDE.md
  docs-code/docs/NOTES.md
  docs-code/docs/STYLE_GUIDE.md
  docs-code/gen_ref_nav.py
  docs-code/modules/recipes/classes.svg
  docs-code/modules/recipes/packages.svg
  docs/CNAME
  docs/_javascript/tables.js
  docs/_styles/mkdocstrings.css
  mkdocs.yml
  pyproject.toml
Due: lock_deps, doit_test

build: remove unused dependencies
  poetry.lock
  pyproject.toml
Due: lock_deps

build: copier update
  .calcipy_packaging.lock
  .copier-answers.yml
  .flake8
  .github/workflows/update_docs.yml
  README.md
  docs-code/README.md
  docs-code/docs/CHANGELOG.md
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs-code/docs/DEVELOPER_GUIDE.md
  docs/manifest.webmanifest
  pyproject.toml
Due: lock_deps

refactor: one pizza recipe!
  docs/meals/__TOC.md
  docs/meals/green_pepper_and_feta.jpeg
  docs/meals/green_pepper_and_feta.md
  docs/pizza/__TOC.md
  docs/pizza/mini_pizza.jpg
  docs/pizza/mini_pizza.md
  docs/pizza/naan_pizza.jpg
  docs/pizza/naan_pizza.md
  docs/pizza/pizza.jpg
Due: none

feat: simplify the pizza recipe
  docs/meals/__TOC.md
  docs/meals/green_pepper_and_feta.md
Due: none

refactor: generalize the burrito recipe
  docs/veggie/__TOC.md
  docs/veggie/refried_bean_burritos.jpeg
  docs/veggie/refried_bean_burritos.md
Due: none

refactor: rename the burrito recipe
  docs/meals/__TOC.md
  docs/meals/burrito.md
  docs/veggie/__TOC.md
Due: none

ci: poetry update
  docs-code/docs/CODE_TAG_SUMMARY.md
  poetry.lock
Due: lock_deps

build: copier update
  .copier-answers.yml
  .github/ABOUT.md
  .github/actions/setup/action.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/update_docs.yml
  .pre-commit-config.yaml
  .ruff.toml
  README.md
  docs-code/docs/STYLE_GUIDE.md
  noxfile.py
  poetry.lock
  pyproject.toml
  recipes/__init__.py
Due: lock_deps, doit_test

ci: poetry update
  .calcipy_packaging.lock
  docs-code/docs/CHANGELOG.md
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs-code/docs/DEVELOPER_GUIDE.md
  docs-code/gen_ref_nav.py
  docs-code/modules/recipes/classes.svg
  docs-code/modules/recipes/packages.svg
  recipes/formatter.py
Due: doit_test

ci: poetry update
  .calcipy_packaging.lock
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs-code/docs/DEVELOPER_GUIDE.md
  poetry.lock
Due: lock_deps

docs: round up broth and tweak Spaghetti
  docs/pasta/spaghetti_sauce.md
  docs/soup/kale_sausage_white_bean_soup_with_parm_toasts.md
  docs/soup/parmesan_minestrone.md
Due: none

docs: add new Lentil Curry and Beef Stew recipes
  docs/sides/__TOC.md
  docs/sides/spices_garam_masala.md
  docs/soup/__TOC.md
  docs/soup/instant_pot_beef_stew.md
  docs/soup/slow_cooker_coconut_lentil_curry.jpeg
  docs/soup/slow_cooker_coconut_lentil_curry.md
  docs/veggie/cauliflower_and_chickpea_masala.md
  docs/veggie/chana_masala.md
  recipes/formatter.py
Due: doit_test

docs: improve Beef Stew and Lentil Curry
  docs/soup/instant_pot_beef_stew.md
  docs/soup/slow_cooker_coconut_lentil_curry.md
Due: none

docs: add carrot cake
  docs/dessert/__TOC.md
  docs/dessert/carrot_cake.jpeg
  docs/dessert/carrot_cake.md
Due: none

build: run compress-all
  docs/bread/no_knead_focaccia.jpeg
  docs/bread/pretzels.jpeg
  docs/breakfast/hard_boiled_eggs.jpeg
  docs/dessert/apple_crisp.jpg
  docs/dessert/chocolate_frosting_recipe.jpg
  docs/dessert/chocolate_peanut_butter_bundt_cake.jpg
  docs/dessert/oatmeal_raisin_cookies.jpg
  docs/drinks/margarita.jpg
  docs/drinks/spicy_margarita.jpg
  docs/drinks/spiked_cider.jpeg
  docs/meals/broccoli_cheddar_chicken_and_rice_casserole.jpeg
  docs/meals/quesadillas.jpeg
  docs/meals/quick_skillet_meals.jpg
  docs/pasta/tuscan_butter_gnocchi.jpg
  docs/poultry/chicken_tacos.jpg
  docs/poultry/enchiladas.jpg
  docs/poultry/proscuitto_wrapped_stuffed_chicken.jpeg
  docs/rice/basmati_rice.jpg
  docs/seafood/shrimp_tacos.jpg
  docs/soup/kale_sausage_white_bean_soup_with_parm_toasts.jpeg
  docs/veggie/baked_potatoes_instant_pot.jpg
  docs/veggie/crispy_herbed_falafel.jpg
Due: none

ci: use patched version of mdformat-mkdocs
  .pre-commit-config.yaml
Due: none

docs: two new recipes
  docs/poultry/__TOC.md
  docs/poultry/poached_chicken.md
  docs/soup/__TOC.md
  docs/soup/sausage_and_lentils_instant_pot_soup.md
Due: none

docs: add a photo for Lentils and Sausage recipe
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs/soup/__TOC.md
  docs/soup/lentils_and_sausage_instant_pot_soup.jpeg
  docs/soup/lentils_and_sausage_instant_pot_soup.md
Due: none

refactor: remove BUMP_RATING
  recipes/formatter.py
Due: doit_test

build: copier-auto-update
  .copier-answers.yml
  .flake8
  .github/actions/setup/action.yml
  .github/codeql-config.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/update_docs.yml
  .ruff.toml
  .tool-versions
  mkdocs.yml
  recipes/__init__.py
Due: doit_test

build: dependency update
  .calcipy_packaging.lock
  docs-code/docs/CHANGELOG.md
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs-code/docs/DEVELOPER_GUIDE.md
  poetry.lock
  recipes/formatter.py
  recipes/scripts.py
Due: lock_deps, doit_test

docs: reorganize Kale and Sausage recipe
  docs/pasta/spaghetti_meatballs_teigen.md
  docs/soup/kale_sausage_white_bean_soup_with_parm_toasts.md
Due: none

docs: use a food processor for the Kale soup
  docs/soup/kale_sausage_white_bean_soup_with_parm_toasts.md
Due: none

feat: add garlic rice and new links
  docs-code/docs/CODE_TAG_SUMMARY.md
  docs/bread/base_recipe_for_no_knead_bread.md
  docs/dessert/carrot_cake.md
  docs/dessert/chocolate_chip_cookies.md
  docs/poultry/poached_chicken.md
  docs/sides/__TOC.md
  docs/sides/garlic_rice.md
  docs/soup/slow_cooker_chicken_tortilla_soup.md
Due: none

build: copier update
  .copier-answers.yml
  .pylintrc
  docs-code/docs/CODE_TAG_SUMMARY.md
Due: none

Path conditions:
  copier-forbidden-files: any of: \.rej$
  lock_deps: any of: ^(pyproject.toml|poetry.lock)$
  doit_test: any of: \.py$
